<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Wood Detections </title>
  <link rel="icon" href="../static/img/xbrhilap.png">
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/main.css" rel="stylesheet">

  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Wood Detection<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#chefs">Team</a></li>
      </nav><!-- .navbar -->

      <a class="btn-book-a-table" href="#book-a-table">Start Detection</a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Wood Is a Friends<br>Make World Better</h2>
          <p data-aos="fade-up" data-aos-delay="100">A platform to help you in the process of selecting quality and flawless wood.</p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#about" class="btn-book-a-table">About</a>
            <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="https://img.freepik.com/premium-photo/cartoon-boy-character-hold-wood-blockk_862994-19726.jpg?w=740" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>Learn More <span>About Us</span></p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-7 position-relative about-img" style="background-image: url(../static/img/about.jpg) ;" data-aos="fade-up" data-aos-delay="150">
          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                
              The artificial intelligence (AI) system for detecting damaged wood is an innovative solution that combines AI technology with the needs of the wood industry. Designed to enhance efficiency in the inspection and maintenance of wood, the AI wood damage detection system can automatically identify and assess the extent of damage in wooden materials.
              </p>
              <p>Using machine learning algorithms and image processing techniques, the system can analyze images or sensor data to detect signs of wood damage. This includes defects such as cracks, holes, or other structural damages that can affect the quality and strength of the wood.</p>
              <p>Key advantages of AI wood damage detection include:</p>
              <ul>
                <li><i class="bi bi-check2-all"></i> Speed and Efficiency: With the ability to process data instantly, this system can provide inspection results in a short time, improving production efficiency</li>
                <li><i class="bi bi-check2-all"></i> High Accuracy: Machine learning algorithms continuously improve themselves over time, enhancing accuracy in detecting various types of wood damage with minimal error rates.</li>
                <li><i class="bi bi-check2-all"></i> Proactive Maintenance: By detecting damage at an early stage, maintenance and repairs can be conducted sooner, preventing further damage and saving on repair costs.</li>
              </ul>
              <p>
                By harnessing artificial intelligence in wood damage detection, the wood industry can optimize its operations, improve product quality, and mitigate the risk of damage that could result in financial losses.
              </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
<!-- ======= Book A Table Section ======= -->
<section id="book-a-table" class="book-a-table">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Wood Defect Detection</h2>
      <p>make <span>Your Stay</span> With Us</p><br>

    <form action="/upload_image" method="post" enctype="multipart/form-data">
      
      <input type="file" name="image" accept=".png, .jpg, .jpeg, .gif, .mp4, .avi, .mov" required>
      <input type="submit" value="Upload and Process">
  </form><br><br>
    <h2>Prediction Result</h2><br>
    <img src="{{ image_path }}" alt="Prediction Result" width="640" height="480">
    <!-- <canvas id="prediction-canvas" width="640" height="480""></canvas>     -->

    <!-- {% if image_path %}
    <div style="position: relative; display: inline-block;">
        <img id="prediction-image" src="../static/img/prediction.jpg" alt="Prediction Result width="640" height="480"">
        <canvas id="prediction-canvas" style="position: absolute; top: 0; left: 0;"></canvas>
    </div>
{% endif %} -->

<script>
    // Tangkap data prediksi dari Flask dan gambar kotak dan label
    var boxes =  boxes | tojson | safe ;
    
    // Fungsi untuk menggambar kotak dan label di atas gambar
    function drawBoxes() {
        var image = document.getElementById('prediction-image');
        var canvas = document.getElementById('prediction-canvas');
        var ctx = canvas.getContext('2d');
        canvas.width = image.width;
        canvas.height = image.height;

        // Gambar kotak dan label
        boxes.forEach(function(box) {
            ctx.beginPath();
            ctx.rect(box.x, box.y, box.width, box.height);
            ctx.lineWidth = 2;
            ctx.strokeStyle = '#00FF00';  // Warna kotak (hijau)
            ctx.fillStyle = '#00FF00';  // Warna label (hijau)
            ctx.fillRect(box.x, box.y - 20, ctx.measureText(box.label).width + 8, 20);
            ctx.stroke();

            // Tambahkan teks label
            ctx.fillStyle = '#000000';  // Warna teks label (hitam)
            ctx.fillText(box.label + ': ' + box.confidence.toFixed(2), box.x + 4, box.y - 6);
        });
    }

    // Panggil fungsi drawBoxes setelah gambar dimuat
    document.getElementById('prediction-image').onload = function() {
        drawBoxes();
    };
</script>

  </div>
  </div>
</section><!-- End Book A Table Section -->

    <!-- ======= Team Section ======= -->
    <section id="chefs" class="chefs section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Team</h2>
          <p>Our Team</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="chef-member">
              <div class="member-img">
                <img src="https://img.freepik.com/free-photo/3d-rendering-cartoon-like-woman-hijab_23-2150797666.jpg?t=st=1703222363~exp=1703225963~hmac=46
                237856e806e525e61780bcbdb180922c07337f178d07153e12621dc6077213&w=740" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Nurmayani Rohmatika</h4>
                <span>Data Colleting</span>
                <span>Model Depelopment</span>
                
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="chef-member">
              <div class="member-img">
                <img src="https://img.freepik.com/free-photo/3d-rendering-cartoon-like-woman-hijab_23-2150797664.jpg?t=st=1703222249~exp=17032258
                49~hmac=e9ae55110983bd1cddc56916abcc13edb02dac9608b035b8c4dcb05fed7707ab&w=740" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Siti Ermawati</h4>
                <span>Web Development</span>
                <span>Model Depelopment</span>
                
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="chef-member">
              <div class="member-img">
                <img src="https://img.freepik.com/free-photo/3d-illustration-boy-with-camera-his
                -hand_1142-36694.jpg?w=740&t=st=1703222581~exp=1703223181~hmac=6ef59b1b81df98a911af9ac185b7d2793e8ac1dd69c870bbc630e04711970213" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Viktorianus T. Wahin L. Nahyan </h4>
                <span>Data Colleting</span>
              </div>
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="chef-member">
              <div class="member-img">
                <img src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?w=740&t=st=1703222689~exp=
                1703223289~hmac=56544177b84a5db42c05b50ad3380b56aae789f52a5a45710850d1c6a1290b0b" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Yeremias Yosef Reku Raja</h4>
                <span>Data Colleting</span>
               
              </div>
            </div>
          </div><!-- End Team Member -->
        </div>
      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
            <h4>Address</h4>
            <p>
              Jl.Pendidikan <br>
              Lombok Timur, Ntb <br>
            </p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Contact</h4>
            <p>
              <strong>Phone:</strong> +62 856 3241 7862<br>
              <strong>Email:</strong> infowd@gmail.com<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-check2-all icon"></i>
          <div>
            <h4>Suport</h4>
            <p>
              <strong>Kampus Merdeka</strong> <br>
              Orbit
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Wood Detections</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>
  <script src="../static/js/script.js"></script>

</body>
</html>




